<!DOCTYPE HTML>
<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script>


        $( document ).ready(function() {


            $("#c").click(function () {

                $.ajax
                ({
                    type: "GET",
                    url: "/quotes",

                    dataType: "json",

                }).done(function (data) {
                    $('#content').empty();
                    $.each(data, function (first, second) {
                        console.log(first);
                        console.log(second);
                        var html = '<div class="data">';
                        html += '<div class="text">'+ second['author'] + '</div>';
                        html += '<div class="text">' + second['text'] + '</div>';
                        $('#content').append(html);


                    })

                });

            });
        });
    </script>
</head>
<body>
<div id="content"> </div>

<button id = "c" >Click Me!</button>
</body>
</html>